.button{
    font-size: 30px;
}
p.buttonBlock{
   padding-top:400px;
   padding-left: 200px;   
}
#btnSolo1{
    color: royalblue;
    display: none;
 }
 #btnOff1{
     color: royalblue;
     display: none;
}
#btnSolo2{
   color: royalblue;
   display: none;
}
#btnOff2{
    color: royalblue;
    display: none;
 }
 #btnSolo3{
    color: royalblue;
    display: none;
 }
 #btnOff3{
     color: royalblue;
     display: none;
  }
  #btnSolo4{
    color: royalblue;
    display: none;
 }
 #btnOff4{
     color: royalblue;
     display: none;
  }
  #btnSolo5{
    color: royalblue;
    display: none;
 }
 #btnOff5{
     color: royalblue;
     display: none;
  }
  #btnSolo6{
    color: royalblue;
    display: none;
 }
 #btnOff6{
     color: royalblue;
     display: none;
  }
#btnSolo7{
    color: royalblue;
    display: none;
 }
 #btnOff7{
     color: royalblue;
     display: none;
}
#btnSolo8{
    color: royalblue;
    display: none;
 }
 #btnOff8{
     color: royalblue;
     display: none;
}
#btnSolo9{
    color: royalblue;
    display: none;
 }
 #btnOff9{
     color: royalblue;
     display: none;
}
#btnSolo10{
    color: royalblue;
    display: none;
 }
 #btnOff10{
     color: royalblue;
     display: none;
}
#btnSolo11{
    color: royalblue;
    display: none;
 }
 #btnOff11{
     color: royalblue;
     display: none;
}
#btnSolo12{
    color: royalblue;
    display: none;
 }
 #btnOff12{
     color: royalblue;
     display: none;
}
#btnSolo13{
    color: royalblue;
    display: none;
 }
 #btnOff13{
     color: royalblue;
     display: none;
}