body
{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    color: black;
    text-align: center;
    font-size: 40px; 
}
[data-drop-target] {
    float: left;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
[data-drop-target2] {
    height: 420px;
    width: 100%;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    float:left;
    border-color: rgb(102, 102, 102);
    border-radius: 15px;
}
.container {
    width: 80%;
    margin: auto;
}
.drag-enter {
    border: 2px dashed #000;
}
.box {
    width: 50px;
    height: 50px;
    float: inherit;
}
.box:nth-child(1) {
    clear: both;
}
.danceMan {
    background-image: url("../icons/icoHalpah.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center; 
}
.danceGirl {
    background-image: url("../icons/icoFes.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center; 
}
.singerMan {
    background-image: url("../icons/icoMicroH.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center; 
}
.singerGirl {
    background-image: url("../icons/icoMicroF.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center; 
}
.accordeon {
    background-image: url("../icons/icoMusicAccordeon.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center; 

}
.bass {
    background-image: url("../icons/icoMusicBass.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
.davul {
    background-image: url("../icons/icoMusicDavul.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
.guitar {
    background-image: url("../icons/icoMusicGuitar.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
.pipe {
    background-image: url("../icons/icoMusicPipe.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
.sax {
    background-image: url("../icons/icoMusicSax.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center; 
}

.saz {
    background-image: url("../icons/icoMusicSaz.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
.synthesizer {
    background-image: url("../icons/icoMusicSynthesizer.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
.violin {
    background-image: url("../icons/icoMusicViolin.png");
    height: 200px;
    width: 200px;
    background-position: center; 
    background-repeat: no-repeat;
}
#some_el {
    width: 100px;
    height: 100px;
    border: 1px solid #900;
}
